:root {
    --primary-color: #08A6E4;
    --primary-shadow-color: #00000029;
    --redish-color: #FB3B64;
    --green-color: #55DFB4;
    --black-color: #000000;
    --grey-color: #A5A5A5;
    --light-grey-color: #F7F7F7;
    --white-color: #FFFFFF;
    --open-sans: 'Open Sans', sans-serif;
    --raleway: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}
li, a {
    list-style: none;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--open-sans);
    background-color: var(--light-grey-color);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    height: 70px;
    width: 100%;
}

.container {
    width: 1352px;
    margin: 0 auto;
    box-shadow: 0 3px 6px var(--primary-shadow-color);
    background-color: var(--white-color);
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header .container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-grey-color);
    z-index: -1;
}

.logo {
    display: flex;
}

.logo-shop {
    font-size: 32px;
    text-align: left;
    font-weight: 300;
    font-family: var(--raleway);
    line-height: 37px;
    color: var(--primary-color);
    padding: 37px;
    margin-left: 80px;
}

.nav-list {
    cursor: pointer;
}

.nav-list-link {
    text-decoration: none;
    padding: 28px 20px 20px 20px;
    margin-bottom: 0;
    margin-right: 28px;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    font-weight: 700;
    font-family: var(--open-sans);
    color: var(--grey-color);
    position: relative;
}
.nav-list li:last-child {
    padding-right: 60px;
}

.nav-list-link:hover {
    opacity: 1;
    color: var(--black-color);
}

.nav-list-link:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--primary-color);
    transition: width 0.3s;
}

.nav-list-link:hover:after {
    width: 100%;
}

/* SHOP */

.shop .container {
    height: 100%;
    flex-direction: column;
}

.shop-title {
    font-size: 49px;
    font-family: var(--raleway);
    color: var(--black-color);
    font-weight: 400;
    line-height: 57px;
    padding: 153px 226px 10px;
    letter-spacing: 0;
}

.shop-text {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    letter-spacing: 0;
    line-height: 22px;
}

.button-shop {
    padding: 22px 163px;
    line-height: 22px;
    font-size: 16px;
    color: var(--white-color);
    background: var(--primary-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 5px 10px 14px var(--primary-shadow-color);
}

.shop-image img {
    width: 100%;
    height: auto;
}

/* STATISTICS */

.statistics .container {
    max-width: 1352px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
}

.statistics-title,
.pricing-title {
    color: var(--black-color);
    font: var(--raleway);
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.statistics-sales {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom:  50px;
}

.statistics-sale {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}

.statistics-sale img {
    margin-bottom: 10px;
    position: relative;
}

.statistics-circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}

.statistics-sale-price {
    font-size: 19px;
    font-weight: 700;
    color: var(--black-color);
    padding-top: 85px;
    padding-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.statistics-sale-text {
    font-size: 14px;
    color: var(--grey-color);
    font-family: var(--raleway);
    margin-bottom: 0;
    padding-top: 13px;
    width: 160px;
    font-weight: 400;
}

.statistics-circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: absolute;
}

.statistics-sale:first-of-type .statistics-circle {
    background-color: var(--redish-color);
}
.statistics-sale:nth-of-type(2) .statistics-circle {
    background-color: var(--primary-color);
}

.statistics-sale:nth-of-type(3) .statistics-circle {
    background-color: var(--green-color);
}
.statistics-sale:first-of-type .statistics-sale-image {
    left: 32px;
    top: 0;
}

.statistics-sale:nth-of-type(2) .statistics-sale-image {
    left: 20px;
    top: 16px;
}

.statistics-sale:nth-of-type(3) .statistics-sale-image {
    left: 30px;
    top: 6px;
}


/* BENEFITS*/
.benefits {
    background-color: var(--light-grey-color);
}

.benefits .container {
    background-color: var(--light-grey-color);
}

.benefits-section {
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
    margin: 50px 200px;
}

.benefits-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 416px;
    height: auto;
    position: relative;
}

.macbook .benefits-container {
    margin: 87px 36px;
}

.iPhone .benefits-container {
    margin: 30px 36px;
    padding-bottom: 44px;
}
.trumpet .benefits-container {
    margin-left: 36px;
    padding-bottom: 70px;
}

.background-macbook {
    width: 200px;
    height: 200px;
    border-radius: 45px;
    position: relative;
}

.background-macbook .benefits-image {
    width: 380px;
    height: auto;
    position: relative;
    right: 175px;
    top: 33px;
}

.background-macbook:before {
    background-color: var(--redish-color);
    border-radius: 40px;
    content: "";
    display: block;
    height: 180px;
    position: absolute;
    right: 0;
    transform: rotate(45deg);
    width: 180px;
}

.background-iPhone {
    width: 426px;
    height: 328px;
    position: relative;
}

.background-iPhone:before {
    background-color: var(--primary-color);
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    top: -15px;
    right: 91px;
    width: 320px;
    height: 320px;
}
.benefits-image-iPhone {
    width: 416px;
    height: auto;
    position: relative;
}
.background-trumpet {
    width: 440px;
    height: 370px;
    position: relative;
    background-color: var(--green-color);
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.background-trumpet .benefits-image {
    width: 300px;
    margin-top: 100px;
}

.section-title {
    line-height: 42px;
    font-size: 36px;
    letter-spacing: 0;
    color: var(--black-color);
    margin-left: 0;
    font-family: var(--raleway);
    margin-bottom: 15px;
    width: 260px;
    font-weight: 400;
}

.benefits-text {
    font-family: var(--open-sans);
    line-height: 22px;
    letter-spacing: 0;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 60px;
    position: relative;
}

.benefits-text:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -60px;
    left: 0;
    width: calc(100% - 25%);
    height: 4px;
    background: var(--redish-color);
}

.iPhone .benefits-text:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -60px;
    left: 0;
    width: calc(100% - 25%);
    height: 4px;
    background: var(--primary-color);
}

.trumpet .benefits-text:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -60px;
    left: 0;
    width: calc(100% - 25%);
    height: 4px;
    background: var(--green-color);
}

.trumpet {
    margin-bottom: 0;
}
/* PRICING */

.check-image {
    width: 11px;
    height: 11px;
}

.pricing {
    background-color: var(--light-grey-color);
}

.pricing .container {
    box-sizing: border-box;
    max-width: 1352px;
    margin: 0 auto;
}

.pricing-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
}

.pricing-title {
    padding-bottom: 92px;
    padding-top: 92px;
}

.pricing-container-basic,
.pricing-container-professional,
.pricing-container-premium {
    display: inline-block;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 150px;
    border: 1px solid;
    width: 372px;
    height: 471px;
    border-radius: 18px;
    text-align: center;
    position: relative;
}

.pricing-container-basic {
    border-color: var(--redish-color);
}
.pricing-container-premium {
    border-color: var(--green-color);
}
.pricing-container-professional {
    width: 405px;
    height: 500px;
    border-color: var(--primary-color);
    bottom: 14px;
}
.pricing-container-professional .pricing-menu,
.pricing-container-premium .pricing-menu {
    margin-top: 30px;
}

.pricing-container-professional .pricing-price,
.pricing-container-premium .pricing-price {
    padding-bottom: 0;
}

.pricing-container-professional .pricing-price {
    color: var(--primary-color);
}
.pricing-container-professional .pricing-button {
    background-color: var(--primary-color);
}

.pricing-container-premium .pricing-price {
    color: var(--green-color);
}
.pricing-container-premium .pricing-button {
    background-color: var(--green-color);
}
.pricing-basic,
.pricing-professional,
.pricing-premium  {
    font-size: 20px;
    line-height: 1;
    padding: 24px 24px 0 24px;
    font-weight: 600;
}

.pricing-price {
    font-size: 46px;
    line-height: 2;
    padding: 0 64px 42px 64px;
    font-weight: 300;
    color: var(--redish-color);
}
.pricing-menu {
    display: block;
}
.pricing-menu-all {
    font-size: 14px;
    line-height: 41px;
}
.pricing-menu-image {
    margin-right: 10px;
}
.pricing-button {
    padding: 6px 57px;
    border: none;
    font-size: 13px;
    line-height: 41px;
    border-radius: 50px;
    background-color: var(--redish-color);
    color: var(--white-color);
    cursor: pointer;
    bottom: -25px;
    left: 115px;
}

.pricing-container-basic .pricing-button,
.pricing-container-professional .pricing-button,
.pricing-container-premium .pricing-button {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

/* CONTACT FORM */

.contact {
   background-color: var(--light-grey-color);
}

.contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}


.contact-form-container-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 350px;
    padding-bottom: 170px;
}

.contact-form-container-section p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 22px;
}

.contact-form-image {
    width: 27px;
    height: 27px;
    margin-right: 16px;
}

.contact-form {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-form-info {
    display: flex;
    flex-direction: row;
    line-height: 22px;
    font-size: 16px;
    color: var(--grey-color);
    font-weight: 300;
}

.contact-form-image {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}
.contact-form-info p {
    margin-right: 20px;
}

.contact-form-input {
    font-family: var(--open-sans);
    width: 100%;
    padding: 35px 0;
    border: none;
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid var(--grey-color);
}

::-webkit-input-placeholder {
    color: var(--primary-color);
}

.contact-form-checkbox-label {
    display: flex;
    margin-bottom: 20px;
}

.contact-form-checkbox {
    width: 0;
    height: 0;
    cursor: pointer;
}

.contact-form-checkbox::after {
    content: '';
    width: 22px;
    height: 22px;
    margin-top: 30px;
    display: block;
    border: 1px solid;
    border-color: var(--grey-color);
    border-radius: 3px;
}

.contact-form-checkbox:checked::after {
    background-image: url('../assets/Checkmark.svg');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
}

.contact-form-checkbox-label-text {
    font-family: var(--open-sans);
    font-size: 10px;
    line-height: 14px;
    color: var(--grey-color);
    margin-left: 32px;
    margin-top: 30px;
}

.contact-form-button {
    align-self: flex-end;
    padding: 20px 97px;
    border: none;
    font-size: 13px;
    line-height: 18px;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    box-shadow: 5px 10px 14px var(--primary-shadow-color);
}


/* FOOTER */

.footer {
    background-color: var(--light-grey-color);
    width: 100%;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1352px;
    margin: 0 auto;
    box-shadow: 0 -5px 40px var(--primary-shadow-color);
}

.footer-logo {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    margin-left: 137px;
}

.footer-logo-shop {
    font-size: 26px;
    line-height: 30px;
    color: var(--primary-color);
    opacity: 0.6;
}

.footer-logo-all {
    font-size: 11px;
    line-height: 15px;
    color: var(--grey-color);
}

.footer-nav-list-twitter {
   margin-right: 20px;
}

.footer-nav {
    margin-right: 137px;
}